/* style.css */

/* Gaya untuk pesan kesalahan dan sukses */
.alert {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
}

